# Framework
fastapi
uvicorn[standard]

# Database
sqlmodel
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic==1.13.2

# Auth
python-jose[cryptography]
passlib[bcrypt]
authlib
httpx
itsdangerous

# Validation
pydantic[email]
pydantic-settings
email-validator
python-multipart
python-dotenv
aiofiles

# Redis
redis[asyncio]

# Cloudinary
cloudinary

# Twilio
twilio

# Rate limiting
slowapi
